<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<memcached keyTransformer="Enyim.Caching.TigerHashTransformer, Enyim.Caching">
    <servers>
        <add address="127.0.0.1" port="11211" />
    </servers>
    <socketPool minPoolSize="50" maxPoolSize="1000" connectionTimeout="00:01:10" deadTimeout="00:02:00" />
</memcached>